.VerifyAccount {
  display: grid;
  gap: 1rem;
}

.SelectField {
  margin-bottom: 1rem;
}

.BtnField {
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e9eef4;
  padding-top: 0.5rem;
}

.TwoColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media only screen and (max-width: 35em) {
  .TwoColumn {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
