.InputField {
  display: grid;
  gap: 0.4rem;
}

.InputField input {
  border: 1px solid #e4e9ef;
  color: #141737;
  border-radius: 5px;
  padding: 0.6rem;
}

.InputField input::placeholder {
  font-size: 0.6rem;
  color: #7d8da7;
}
