.Layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100vh;
  overflow: hidden;
}

.Hero {
  /* background-image: url("../../assets/images/hero.png");
   */
  background-color: #f3e8c9;
  display: grid;
  align-content: center;
  justify-items: center;
}

.HeroImage {
  width: 85%;
  transform: translateY(3rem);
}

.Content {
  padding: 2rem 3rem;
  text-align: start;
  overflow-y: scroll;
}

@media only screen and (max-width: 48em) {
  .Hero {
    display: none;
  }

  .Layout {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 35em) {
  .Content {
    padding: 3rem 1rem;
  }
}
